<app-navbar></app-navbar>





<div class="col-12">
    <h2 class="text-info" style="text-align: center;">
        Our Mission
    </h2>
    <hr class="bg-info" style="width: 40%; font-size: medium; margin: 10px auto;">
</div>

<section class="content">
    <div style="margin-left: -184px; margin-right: auto;">
        <div>
            <h3>Vision</h3>
            <p>By 2025, ESN aims to become the global network of the Erasmus Generation, dedicated to enhancing
                international education and providing self-development opportunities to two million young people. We
                strive to foster intercultural understanding and create positive change in society.</p>
        </div>

        <div>
            <h3>Mission</h3>
            <p>Our mission is to enrich society through the presence of international students.</p>
        </div>

        <div>
            <h3>Values</h3>
            <ul>
                <li>Unity in diversity: We celebrate our differences while working towards a common aim and goal.</li>
                <li>Students helping students: We passionately volunteer for the benefit of others.</li>
                <li>Fun in friendship and respect: We enjoy relationships built on respect.</li>
                <li>International dimension of life: We are open-minded, mobile, and eager to discover, cooperate, and
                    interact to break borders.</li>
                <li>Love for Europe as an area of peace and cultural exchange: We embrace and appreciate Europe's
                    cultural richness.</li>
                <li>Openness with tolerance: We understand and accept others, learning from their perspectives.</li>
                <li>Cooperation in integration: We take a holistic approach to internationality and promote cooperation.
                </li>
            </ul>
        </div>
    </div>

    <aside style="margin-top: -444px; margin-left: auto; margin-right: -232px;">
        <div class="card bg-secondary">
            <div class="card-body text-center">
                <h2 class="card-title mb-3" style="color: black;font-size: 20px;">Opportunities
                </h2>
                <hr class="light" style="margin: 10px auto;font-weight: bold;">
                <p class="card-text">
                    Erasmus+ has opportunities for people as well as organisations from all over the world.
                    Check out our website: </p>
                <p><a class="nav-justified"
                        href="https://op.europa.eu/en/publication-detail/-/publication/ff1edfdf-8bca-11eb-b85c-01aa75ed71a1/language-en">click
                        here</a>
                </p>

            </div>
        </div>
    </aside>
</section>
<app-footer></app-footer>