<!--Connect -->
<div class="min">
    <div class="row text-center padding ">
        <div class="col-12">
            <h2 class="text-info">Connect</h2>
            <hr class="bg-info" style="width: 40%; font-size: medium; margin: 10px auto;">
        </div>
        <div class="col-12 social padding">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-google-plus-g"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
<!--Footer-->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Views and opinions expressed are however those of the author(s) only and do not
                    necessarily reflect those of the
                    European Union or the European Education and Culture Executive Agency (EACEA). Neither the European
                    Union nor EACEA can
                    be held responsible for them.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Adresse</h6>
                <ul class="footer-links">
                    <li><span class="fas fa-home"></span>Erasmus</li>
                    <li><span class="fas fa-map-marker-alt"></span>Tunisie</li>
                    <li><span class="fas fa-fax"></span>+ 216 71 781 862</li>
                    <li><span class="fas fa-phone"></span>+(216) 71256354</li>
                    <li> <span class="fas fa-globe"></span>http://www.erasmus.tn</li>
                    <li><span class="fas fa-envelope"></span>erasmus.tunis@gmail.com</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023
                    All Rights Reserved by
                    <a href="#">Erasmus</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class=" fab fa-google-plus-square"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>