.service_section .heading_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
}

.body_bg {
    background-image: url(/assets/images/body_bg.jpg);
    background-size: cover;
}

.service_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 15px 0;
    width: 85%;
}

.service_section .box h4 {
    margin-top: 5px;
}

.service_section .box a {
    padding: 6px 25px;
    border: 1px solid #e93f1a;
    color: #e93f1a;
    text-transform: uppercase;
}