<app-navbar></app-navbar>
<br>
<section class="service_section ">
    <div class="container">
        <div class="heading_container">
            <h2 class="text-info" style="text-align: center;
  margin: 0 auto;">Documentation</h2>
            <hr class="bg-info" style="width: 40%; font-size: medium; margin: 10px auto;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="assets/images/s-1.png" alt="">
                    </div>
                    <h4>
                        À propos du guide du programme
                    </h4>
                    <p>
                        Le guide du programme Erasmus+ contient des informations essentielles sur Erasmus+. Il fournit
                        aux organisations et aux
                        citoyens participants une liste complète des possibilités soutenues par le programme.

                        Il fait partie intégrante de l’appel à propositions Erasmus+ de 2023.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box align-items-end align-items-md-start text-right text-md-left">
                    <div class="img-box">
                        <img src="assets/images/s-2.png" alt="">
                    </div>
                    <h4>
                        À qui est-il destiné?
                    </h4>
                    <p>
                        À qui est-il destiné?
                        of
                        letters, as opposed to using <b> 'Content here, content here'</b>, making it look like</p>

                    <p> Ce document fournit des informations sur:
                        <li>les priorités du programme;</li>
                        <li>les actions soutenues;</li>
                        <li>les fonds disponibles pour chaque action;</li>
                        <li>les modalités de participation.</li>
                    </p>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="assets/images/s-3.png" alt="">
                    </div>
                    <h4>
                        Comment lire la dernière version?
                    </h4>
                    <p>
                        Le guide du programme est disponible au format web et sous la forme d’un pdf téléchargeable.

                    </p>
                    <h4>
                        En ligne

                    </h4>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">

                        <button type="button" class="btn btn-outline-secondary btn-lg explore-button"
                            style=" margin-left: -30px;font-size: medium">Parcourir le guide du programme en
                            ligne</button>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box align-items-end align-items-md-start text-right text-md-left">
                    <div class="img-box">
                        <img src="assets/images/s-4.png" alt="">
                    </div>
                    <h4>
                        Premium Content
                    </h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution
                        of
                        letters, as opposed to using 'Content here, content here', making it look like
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>