<app-navbar></app-navbar>
<br>
<main>
    <div class='card' style="background-image: url(/assets/sidibou.jpg);">
        <div class='info'>
            <h1 class='title' style="font-size:large;text-align: center;">Hammamet
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
            </h1>
            <p class='description'>Magnificent beaches, beautiful hotels, sporting activities and seafront nightclubs…
                some of the many reasons why
                holiday-makers choose Hammamet, or its neighbour Nabeul.White sand, clear water… the beaches in the
                Hammamet region are some of the most beautiful in Tunisia.
                More peaceful beaches await you all along the Cape Bon peninsula which starts to the north of Hammamet –
                such as
                Haouaria, or the one of Kelibia at the foot of the medieval fort.</p>
        </div>
    </div>

    <div class='card' style="background-image: url(/assets/sousse.jpg);">
        <div class='info'>
            <h1 class='title' style="font-size:large;text-align: center;">Sousse
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
            </h1>
            <p class='description'>Long beaches, old stones, high palm trees… Sousse is a city ripe with seductions
                where entertainment and exoticism
                coexist harmoniously. As a major modern city, it’s one of Tunisia’s most lively coastal resorts. As a
                historic city, it
                has conserved a magnificent medina and exceptional monuments from the Middle Ages. Just a few minutes
                away, a tourist
                town with Andalusian charm has been built especially for holiday-goers, around a marina: the integrated
                resort of Port
                El Kantaoui..</p>
        </div>
    </div>

    <div class='card' style="background-image: url(/assets/hammamet.jpg);">
        <div class='info'>
            <h1 class='title' style="font-size:large;text-align: center;">sidi-bousaide
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
            </h1>
            <p class='description'>Sidi Bou Said is a Tunisian town attached to the site of Carthage and located about
                20 kilometers outside Tunis. In this
                town there is an old family house that belonged to the Tunisian bourgeoisie.

                Sidi Bou Said is characterized by the importance and richness of its cultural heritage. Its marabout,
                ceremonies,
                celebrations using Malouf music, its repertoire of classical music and its annual festival, are among
                the best known in
                Sidi Bou Said and in Tunisia.

                Boasting a mild climate, Sidi Bou Said has other features to attract tourists. Travellers can explore
                the tangle of
                houses clad in white lime moucharabies and blue shutters and famous cafes such as: Café des Nattes or
                the Café Sidi
                Chaabane</p>
        </div>
    </div>
    <div class='card' style="background-image: url(/assets/Djerba.jpg);">
        <div class='info'>
            <h1 class='title' style="font-size:large;text-align: center;">Djerba
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
            </h1>
            <p class='description'>Are you a daydreamer? You will love Djerba for its fine sandy beaches fringed with
                palm trees, its seas in multiple
                shades of turquoise, its serene landscapes and its colourful sunsets.Take a dip on a beach far away from
                the hotels. See how the migratory birds gather. Gossip with the fishermen to learn
                their traditional ways… Or go on a pirate boat trip to take a swim on a beautiful wild beach.

                Also on offer are numerous massages and treatments proposed by the many spas and thalassotherapy centres
                of Djerba and
                Zarzis. With its end-of-the-world atmosphere, Djerba is the ideal place to relax!

                Do you think that holidays are made for moving around and having fun? You will have many holiday clubs
                to choose from
                and you can try multiple beach activities.</p>
        </div>
    </div>
    <!-- Add more cards as needed -->
</main>

<app-footer></app-footer>