< <!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
<app-navbar></app-navbar>

<body>

    <!-- Banner Close -->
    <div class="page-heading">
        <div class="container">
            <h2>Events</h2>
        </div>
    </div>
    <!-- Popular courses End -->
    <div class="learn-courses">
        <div class="container">
            <div class="courses">
                <div class="owl-one owl-carousel">
                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="assets/images/course-pic.jpg"
                                alt="courses picture">
                        </div>
                        <a href="#" class="learn-desining-banner" itemprop="name">Learn Web Designing >>></a>
                        <div class="box-body" itemprop="description">
                            <p>Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
                                lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum</p>
                            <section itemprop="time">
                                <p><span>Duration:</span> 4 Years</p>
                                <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                                <p><span>Fee:</span> 4,00,000</p>
                            </section>
                        </div>
                    </div>

                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="assets/images/course-pic.jpg"
                                alt="courses picture">
                        </div>
                        <a href="#" class="learn-desining-banner" itemprop="name">Learn Web Designing >>></a>
                        <div class="box-body" itemprop="description">
                            <p>Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
                                lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum</p>
                            <section itemprop="time">
                                <p><span>Duration:</span> 4 Years</p>
                                <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                                <p><span>Fee:</span> 4,00,000</p>
                            </section>
                        </div>
                    </div>

                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="assets/images/course-pic.jpg"
                                alt="courses picture">
                        </div>
                        <a href="#" class="learn-desining-banner" itemprop="name">Learn Web Designing >>></a>
                        <div class="box-body" itemprop="description">
                            <p>Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
                                lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum</p>
                            <section itemprop="time">
                                <p><span>Duration:</span> 4 Years</p>
                                <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                                <p><span>Fee:</span> 4,00,000</p>
                            </section>
                        </div>
                    </div>

                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="assets/images/course-pic.jpg"
                                alt="courses picture">
                        </div>
                        <a href="#" class="learn-desining-banner" itemprop="name">Learn Web Designing >>></a>
                        <div class="box-body" itemprop="description">
                            <p>Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum
                                lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum</p>
                            <section itemprop="time">
                                <p><span>Duration:</span> 4 Years</p>
                                <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                                <p><span>Fee:</span> 4,00,000</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>