<app-navbar></app-navbar>
<!--asba-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Contact Us //</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Booking //</h5>
                            <p class="m-0" style="text-align: center;"><i
                                    class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// General //</h5>
                            <p class="m-0" style="text-align: center;"><i
                                    class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Technical //</h5>
                            <p class="m-0" style="text-align: center;"><i
                                    class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--end asba -->
<br>
<!--  contact section -->
<div class="body_bg layout_padding"
    style="background-size: cover; background-image: url(assets/body_bg.jpg); padding: 60px 0;">
    <!-- Contact Start -->
    <section class="contact_section">
        <div class="container">
            <div class="heading_container">
                <h2 class="text-info">Let's Get In Touch!</h2>
                <hr class="bg-info">
            </div>
        </div>
        <div class="container contact_bg layout_padding2-top">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_form ">
                        <form action="">
                            <input type="text" placeholder="Name ">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Message" class="message_input">
                            <button>
                                Send
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="assets/contact-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.4279451176158!2d10.2673445107134!3d36.76029997214276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd49fa15643927%3A0xad64c8c462b52435!2sInstitut%20Sup%C3%A9rieur%20des%20Etudes%20Technologiques%20de%20Rades!5e0!3m2!1sfr!2stn!4v1684313228892!5m2!1sfr!2stn"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- end contact section -->
<!-- Contact End -->
<app-footer></app-footer>